{% extends 'base.html' %}

{% block title %}
{{ page_title }}
{% endblock %}

{% block body %}

{% include 'block/menu.html' %}


<div class="container">
  <h1>{{ page_title }}</h1>
  
  <div class="row">
    <div class="col-4">
      {% for product in products %}
        <h5>Наименование товара: {{ product.name }}</h5>
        <p>Стоимость: {{ product.price }} руб.</br>
        В наличии - {{ product.price }} шт.</p>
      {% endfor %}
    </div>

    <div class="col-8">
      {% for product in products %}
        <div class="row">
          <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">Подробное описание товара с характеристиками.</p>
                <a href="#" class="btn btn-primary">{{ product.price }} руб.</a>
              </div>
            </div>
          </div>
        </div>
        </br>
      {% endfor %}
    </div>

  </div>

</div>
{% endblock %}