<!--колонки с иконками-->
<div class="container px-4 py-5" id="featured-3">
  <h2 class="pb-2 border-bottom">Преимущества</h2>
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="feature col">
      <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3"></div>
      <h3 class="fs-2">Доставка</h3>
      <p>Доставка по городу Москва осуществляется собственным транспортом нашей компании бесплатно</p>
    </div>
    <div class="feature col">
      <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3"></div>
      <h3 class="fs-2">Качество</h3>
      <p>Картриджи Target не отличаются от своих оригинальных аналогов ни по качеству печати, ни по стабильности печати</p>
    </div>
    <div class="feature col">
      <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3"></div>
      <h3 class="fs-2">Гарантии</h3>
      <p>Мы, как производитель гарантирует работу наших картриджей в соответствии с контролем качества по системе ISO 9001</p>
    </div>
  </div>
</div>