<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4">B2B Портал</span>
      </a>
      <!-- menu -->
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a href="/" class="nav-link" aria-current="page">Главная</a>
        </li>
        <li class="nav-item">
          <a href="{{ '/catalog' }}" class="nav-link">Каталог</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Пусто</a>
        </li>
        
        {%  if current_user.is_authenticated %}
          <li class="nav-item">
            <span class="nav-link">Привет, {{ current_user.username }}</span>
          </li>
          {% if current_user.is_admin %}
            <li class="nav-item">
              <a href="{{ url_for('admin.admin_index') }}" class="nav-link">Админка</a>
            </li>
          {% endif %}
          <li class="nav-item">
            <a href="/users/logout" class="nav-link">Выйти</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a href="{{ url_for('user.register') }}" class="nav-link">Регистрация</a>
          </li>
          <li class="nav-item">
            <a href="{{ url_for('user.login') }}" class="nav-link">Войти</a>
          </li>
        {% endif %}

      </ul>
    </header>
</div>